ANISTREAM_DOCKER_NETWORK=replace-with-dokploy-private-network
PGHOST=postgres
PGPORT=5432
PGUSER=user
PGDATABASE=anistream_db
PGPASSWORD_FILE=/etc/anistream/postgres-password
BACKUP_DIR=/var/backups/anistream/postgres
